.container {
  background-color: #3232db;
  color: #fff;
  padding: 1rem;
  width: 18.75rem;
  border-radius: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.image {
  max-width: 9.375rem;
}

.current {
  margin-bottom: 0;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
  padding-right: 2rem;
}

.error {
  color: red;
  font-size: 1.5rem;
}
